WFN|T_C_IND|Split|Channel|LANG_IND|COMM_CODE|CIS MEMO
456789|T|90%|EM|EN|ALOPXX123ENTR|ELIGIBLE FOR $10 OFFER
456789|C|10%||EN|ALOPXX123ENCR|ELIGIBLE FOR $10 OFFER
456789|T|90%|EM|SP|ALOPXX123SPTR|ELIGIBLE FOR $10 OFFER
456789|C|10%||SP|ALOPXX123SPCR|ELIGIBLE FOR $10 OFFER
123456|T|90%|EM|EN|ALOPXX123ENTK|ELIGIBLE FOR BNPL
123456|C|10%||EN|ALOPXX123ENCK|ELIGIBLE FOR BNPL
123456|T|90%|EM|SP|ALOPXX123SPTK|ELIGIBLE FOR BNPL
123456|C|10%||SP|ALOPXX123SPCK|ELIGIBLE FOR BNPL
345678|T|100%|EM/DM|EN|LOPXX123ENTRK|NEW MOVERS
345678|T|100%|EM/DM|SP|LOPXX123SPTRK|NEW MOVERS
